<!DOCTYPE html>
<html>
<head>
	<title>Cooking :D</title>
	<link href="{{ STATIC_URL }}order_adjust/lib/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen, print">
    <link href="{{ STATIC_URL }}order_adjust/lib/bootstrap/bootstrap-reset.css" rel="stylesheet">
</head>
<body>
	<section id="container" class=""></section>

	<script id="core-template" type="text/stache">
		<section class="main-content">
			<calculate-app>
				{% include 'calculate.mustache' %}
			</calculate-app>
		</section>
	</script>

	<script type="text/javascript" src="{{ STATIC_URL }}order_adjust/lib/requirejs/require.js" data-main="{{ STATIC_URL }}order_adjust/main"></script>
</body>
</html>