{% verbatim %}
<div class="row no-print" id='users'>
    <div class="col-md-12 col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="row">
                    <form class="form-inline">
                        <div class="input-group col-md-2">
                            <span class="input-group-addon">Max discount</span>
                            <input type="number" name="max-discount" required class="form-control" value="{{getMaxDiscount}}" can-keyup="maxDiscountChange" min="0">
                        </div>
                        <div class="input-group col-md-2">
                            <span class="input-group-addon">Orders</span>
                            <input type="number" name="orders" required class="form-control" value="{{getOrdersNum}}" can-keyup="ordersChange" min="0">
                        </div>
                        <div class="input-group col-md-2">
                            <span class="input-group-addon">Gross amount</span>
                            <input type="number" name="gross-amount" required class="form-control" value="{{getGrossAmount}}" can-keyup="grossAmountChange" min="0">
                        </div>
                        <div class="input-group col-md-2">
                            <span class="input-group-addon">Gross discount</span>
                            <input type="number" name="gross-discount" required class="form-control" value="{{getGrossDiscount}}" can-keyup="grossDiscountChange" min="0">
                        </div>
                        <div class="input-group col-md-2">
                            <span class="input-group-addon">Type</span>
                            <select can-change="cleaningTypeChange" class="form-control">
                                <option value="dryclean">Dryclean</option>
                                <option value="laundry">Laudry</option>
                                <option value="iron">Iron</option>
                            </select>
                        </div>
                        <div class="input-group col-md-1">
                            <button type="button" class="btn btn-primary" can-click="startCalculation">Start</button>
                        </div>
                    </form>
                </div>
            </header>
            <div class="panel-body">
                <div class="col-lg-9">
                {{#ifEqual getCleaningType "dryclean"}}
                    <div class="row">
                        <div class="col-md-1">#</div>
                        <div class="col-md-2">190</div>
                        <div class="col-md-2">140</div>
                        <div class="col-md-2">60</div>
                        <div class="col-md-2">Amount</div>
                        <div class="col-md-2">Discount</div>
                    </div>
                    <div class="row" id="dryclean-data" style="overflow-y:auto; height:500px">
                    {{#each orderRowData}}
                        <div class="row">
                            <div class="col-md-1">{{@index}}</div>
                            <div class="col-md-2">
                                <input type="number" class="form-control _190" can-change="_190Change" index="{{@index}}" value="{{190}}">
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control _140" can-change="_140Change" index="{{@index}}" value="{{140}}">
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control _60" can-change="_60Change" index="{{@index}}" value="{{60}}">
                            </div>
                            <div class="col-md-2 amount">
                                {{amount}}
                            </div>
                            <div class="col-md-3 discount">
                                {{discount}}
                            </div>
                        </div>
                    {{/each}}
                    </div>
                {{/ifEqual}}

                {{#ifEqual getCleaningType "laundry"}}
                    <div class="row">
                        <div class="col-md-1">#</div>
                        <div class="col-md-2">19</div>
                        <div class="col-md-2">50</div>
                        <div class="col-md-2">60</div>
                        <div class="col-md-2">90</div>
                        <div class="col-md-2">Amount</div>
                        <div class="col-md-1">Discount</div>
                    </div>
                    <div class="row" id="laundry-data" style="overflow-y:auto; height:500px">
                    {{#each orderRowData}}
                        <div class="row">
                            <div class="col-md-1">{{@index}}</div>
                            <div class="col-md-2">
                                <input type="number" class="form-control _19" can-change="_19Change" index="{{@index}}" value="{{19}}">
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control _50" can-change="_50Change" index="{{@index}}" value="{{50}}">
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control _60" can-change="_60LaundryChange" index="{{@index}}" value="{{60}}">
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control _90" can-change="_90Change" index="{{@index}}" value="{{90}}">
                            </div>
                            <div class="col-md-2 amount">
                                {{amount}}
                            </div>
                            <div class="col-md-1 discount">
                                {{discount}}
                            </div>
                        </div>
                    {{/each}}
                    </div>
                {{/ifEqual}}
                
                </div>

                <div class="col-lg-3 text-center">
                    <div class="alert
                    {{#ifEqual getChangedGrossAmount getGrossAmount}}
                    alert-success
                    {{else}}
                    alert-danger
                    {{/ifEqual}}
                    ">
                        <span>Amount: </span><b>{{getChangedGrossAmount}}</b>/<b>{{getGrossAmount}}</b>
                    </div>
                    <div class="alert
                    {{#ifEqual getChangedGrossDiscount getGrossDiscount}}
                    alert-success
                    {{else}}
                    alert-danger
                    {{/ifEqual}}
                    ">
                        <span>Discount: </span><b>{{getChangedGrossDiscount}}</b>/<b>{{getGrossDiscount}}</b>
                    </div>
                    <button class="btn btn-primary" can-click="downloadCSV">Download</button>
                </div>
            </div>
        </section>
    </div>
</div>
{% endverbatim %}